html {
  height: 100%;
}

/* ========================
            Body
   ========================
*/
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

  min-height: 100%;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h4,
h5,
h6 {
  font-weight: 700;
}

.social-icon {
  text-decoration: no;
}

/* ========================
          Home
   ========================
*/

.img-fluid {
  height: 450px;
  width: 400px;
  margin-top: 1rem;
}

/* ========================
        Button
   ========================
*/
.btn-outline-secondary {

  border-radius: 0.9;
  background-color: transparent !important;
  border-color: #011627 !important;
  color: #011627 !important;
  position: relative;
}

.btn-outline-secondary:before {
  content: '';
  position: absolute;
  background-color: #83F3ED;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: 0.5s;
}

.btn-outline-secondary:hover:before {
  width: 100%;
}

.btn-secondary {
  border-radius: 0;
  background-color: transparent;
  color: #011627;
  text-align: center;
}

.btn-secondary:hover {
  color: #83F3ED;
}

.btn-primary {

  border-radius: 0.9;
  border-color: black;
  color: black;
}


/* ========================
          Navbar
   ========================
*/
.navbar {
  position: fixed;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: visible;
  background: rgb(115, 168, 194);
  border-bottom: 1px solid #eee;
}


.navbar-brand {
  color: #011627;
  font-size: 1.2rem;
}


.navbar-brand {
  font-size: 1.8rem;
  text-align: center !important;
}

/* ========================
        About Me
   ========================
*/
.call-to-action {
  /* background: #93bce7; */
  color: black;
}



/* ========================
          Projects
   ========================
*/
.card-title,
.card-text {
  text-align: center;
}

.action {
  padding: 2rem;
}

.card-body {
  text-align: center;
}

.fa-link {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

/* ========================
        About Me Page
   ========================
*/

.about {
  margin: 7em;
}

.size {
  font-size: large;
  margin-bottom: 0.5rem;
}

.progress {
  margin-left: auto;
  text-align: center;
}

.section-title {
  text-align: center;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #0563bb;
}

.about .content p:last-child {
  margin-bottom: 0;
}


/* ========================
          Footer
   ========================
*/
.footer {
  background-color:rgb(115, 168, 194);
  color: #fafaff;
  margin-top: auto;
}

.pcol {
  color: black;
  text-align: center;
}

.footer h2 {
  color: #000000
}

.footer a {
  color: #0e0e0e;
}

