/* ========================
        Responsive
   ========================
*/
@media screen and (max-width: 1000px) {
    .img-fluid {
        display: none;
    }


    .home {
        text-align: center;
    }
}

@media screen and (max-width: 710px) {

    .body {
        overflow-x: hidden;
        align-items: center;
    }

    .read-more-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .read-more-container button.read_more_btn {
        max-width: 100px;
    }

    .navbar {
        height: 70px;
        width: 100%;
        font-size: 1.6rem;
    }

    .text-center button {
        margin-left: auto;
    }

    .about {
        text-align: center;
    }

    .size {
        font-size: x-large;
    }

    .home-content {
        text-align: center;
    }

    .home-container {
        margin-bottom: -4px;
    }

    .call-to-action .container {
        width: 100% !important;
    }

}

@media screen and (max-width: 410px) {
    .read-more-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .read-more-container button.read_more_btn {
        max-width: 100px;
    }
}

@media screen and (max-width: 320px) {

    .navbar-brand {
        font-size: 1.6rem;
    }

    .btn {
        width: 100%;
    }

    .navbar {
        margin-bottom: 2px !important;
    }

    .read-more-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .read-more-container button.read_more_btn {
        max-width: 100px;
    }

    .text {
        font-size: larger;
    }

    .pro {
        margin-left: 1px;
    }

    .home {
        text-align: center;
    }

}

@media(max-width: 270px) {

    .read-more-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .footer h2{
        font-size: larger;
    }

    .read-more-container button.read_more_btn {
        max-width: 100px;
    }

}